
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1  );
}

.card {
    padding: 10px;
}

#header {
    color: palevioletred;
    font-size: 2em;
    display: flex;

}

#nav {
    width: 20%;
    height: 400px;
    display: flex;
    
}

#content {
    width: 70%;
    display: flex;
}

#sidebar {
    width: 10%;
    display: flex;
}

#footer {
    font-size: 0.7em;
    display: flex;
}

.card-body {
    width: 200px;
}

.user-avatar {
    padding-right: 10px;
}

#app {
    flex-wrap: wrap;
}