
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1  );
}

.card {
    padding: 10px;
}

#app {
    display: flex; 
    flex-direction: column;
    
}

#header {
    color: palevioletred;
    font-size: 2em;
    display: flex;
    flex-direction: 

}

#main {
    display: flex;
    flex-direction: row;
}

#nav {
    width: 20%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#content {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sidebar {
    width: 10%;
    
}

#footer {
    font-size: 0.7em;
    
}

.card-body {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.user-avatar {
    padding-right: 10px;
}

